html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', serif;
}

.container_home_page_perfil{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.navegacao{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    background-color: #812cb3;
    justify-content: space-evenly;
    align-items: center;
}

.img-perfil{
    margin: 0;
    padding: 0;
    height: 30%;
}

.nome-usuario{
    margin: 0;
    padding: 0;
    height: 10%;
}

.btn-areas{
    margin: 0;
    padding: 0;
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.btn-area{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    width: 100%;
}

.btn-area:hover{
    background-color: #d36da3;
    font-weight: bolder;
}


.navegacao ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:100%;
}

.navegacao li{
    list-style: none;
}

.navegacao span{
    font-size: 20px;
    margin-left: 25px;
    margin-right: 10px;
}

.navegacao a{
    text-decoration: none;
    color: white;
}

.navegacao a:hover{
    text-decoration: underline;
    color: white;
    max-width: fit-content;
}

.img-perfil{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

